$black: #111;
$red: #da563c;
$green: #8bd89b;
$yellow: #fae12c;
$darkYellow: #e9d11bde;
$grey: #606569;
$greyRGBWithOpacity: rgb(96, 101, 105, 0.92);
$lightGrey: #71767a;
$greyDark: #505458;
$text: #fff;
$blackText: #000;
$seriale: $green;
$filmy: $yellow;
$smallResponsiveGap: 5vh;
$minElement: 2rem;
$smallDistance: 5rem;
$mediumResponsiveGap: 10vh;
$responsiveHeightMargin: 10vh;
$gradientVeryPeri: linear-gradient(to left, #4161b6, #435593);
$gradientForm: linear-gradient(to left top, $lightGrey, $yellow);

html,
body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: $grey;
  color: $text;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
}

.flexbox {
  display: flex;
}

.navbar {
  background-color: $grey;
  position: fixed;
  top: -0.1vh;
  z-index: 1;
  &--inactive {
    color: $blackText;
  }
  &--active {
    color: $yellow;
  }
  &__gap {
    padding-top: $responsiveHeightMargin;
  }
}

.layout {
  &__grid {
    &--central {
      justify-content: center;
    }
  }
  &__groups {
    padding-top: 1em;
  }
  &__line {
    text-align: center;
    padding-top: 0.5em;
  }
  &__slider {
    max-width: 82vw;
    margin-left: 2em;
    .slick-slide img {
      display: inline;
    }
  }
}

.image {
  &__logo {
    &--dimensions {
      max-width: 80vw;
    }
  }
  &__tiles {
    max-height: 47vh;
    &--modal {
      max-height: 60vh;
      display: block;
      margin: auto;
      opacity: 2;
    }
  }
}

.labels {
  &__center {
    text-align: center;
    &--left {
      margin-left: 1vw;
    }
  }
  &--dark {
    color: black;
    background-color: $yellow;
    padding-top: 0.4rem;
    margin: inherit 0;
  }
  &__link {
    text-decoration: underline;
    color: $red;
  }
}

.modal {
  display: flex;
  overflow-y: scroll;
  color: $darkYellow;
  &--placeholder {
    background: $gradientVeryPeri;
    padding: $responsiveHeightMargin 15vw;
  }
  &--second {
    background: $gradientForm;
  }
  &--background {
    background: $greyRGBWithOpacity;
  }

  &__card {
    justify-content: center;
    margin-top: $smallDistance;
    padding: $mediumResponsiveGap 0.7vh;
    height: fit-content;
  }
  &__content {
    padding-top: $smallResponsiveGap;
    text-align: center;
  }
  &__size {
    height: 52vh;
  }
  &__exit {
    position: absolute;
    padding-top: 2px;
    border-radius: 10px;
    background-color: $red;
    &--card {
      top: 12.5vh;
      right: $smallResponsiveGap;
    }
    &--section {
      top: $smallResponsiveGap;
      right: $smallResponsiveGap;
    }
  }
}

.button {
  min-width: $minElement;
  min-height: $minElement;
  &__position {
    position: fixed;
    right: 4em;
    bottom: 7em;
  }
}

.input {
  &__autofill .MuiAutocomplete-inputRoot {
    background-color: gray;
  }
}

@media (min-width: 600px) {
  .modal {
    &__content {
      text-align: right;
    }
    &__exit {
      &--card {
        top: 17vh;
        right: $mediumResponsiveGap;
      }
    }
  }
}

@media (min-width: 900px) {
  .image {
    &__logo {
      &--dimensions {
        max-width: 40vw;
        display: flex;
        justify-content: center;
        padding-top: 0.1em;
      }
    }
    &__tiles {
      max-width: 30vw;
      max-height: 59vh;
    }
  }

  .layout {
    &__slider {
      max-width: 93vw;
    }
  }

  .modal {
    &__card {
      margin: $smallDistance 0rem;
      // padding: 4rem 0.7vh;
      height: auto;
    }
  }
}

@media (min-width: 1200px) {
  .image {
    &__tiles {
      max-height: 32.8vw;
    }
  }

  .layout {
    &__slider {
      max-width: 93.7vw;
    }
  }

  .labels {
    &__dark {
      & h1 {
        font-size: 3.4vh;
      }
    }
  }

  .modal {
    &--placeholder {
      padding: $responsiveHeightMargin 10vw;
    }
  }
}
