$black: #111;
$red: #da563c;
$green: #8bd89b;
$yellow: #fae12c;
$darkYellow: #e9d11bde;
$grey: #606569;
$lightGrey: #71767a;
$greyDark: #505458;
$text: #fff;
$blackText: #000;
$seriale: $green;
$filmy: $yellow;
$sideDistanceMobile: 0vw;
$sideDistanceDesktop: 0vw;
$minElement: 2rem;
$extremeMargin: 5vh;
$responsiveHeightMargin: 10vh;
$gradientVeryPeri: linear-gradient(to left, #4161b6, #435593);
$gradientForm: linear-gradient(to left top, $lightGrey, $yellow);

html,
body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: $grey;
  color: $text;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
}

.flexbox {
  display: flex;
}

.design {
  //Nie wykorzystuje nigdzie
  &__poster {
    border-right: 2px solid yellow;
    // border-bottom: 2px solid yellow;
    padding-top: 0.1em;
  }
}

.navbar {
  background-color: $grey;
  position: fixed;
  top: -0.1vh;
  z-index: 1;
  &--inactive {
    color: $blackText;
  }
  &--active {
    color: $yellow;
  }
  &__gap {
    padding-top: $responsiveHeightMargin;
  }
}

.layout {
  &__grid {
    &--central {
      justify-content: center;
    }
  }
  &__groups {
    padding-top: 1em;
  }
  &__line {
    text-align: center;
    padding-top: 0.5em;
  }
  &__slider {
    max-width: 82vw;
    margin-left: 2em;
    .slick-slide img {
      display: inline;
    }
  }
}

.image {
  &__logo {
    &--dimensions {
      max-width: 80vw;
    }
  }
  &__tiles {
    max-height: 47vh;
  }
}

.labels {
  &__center {
    text-align: center;
    &--left {
      margin-left: 1vw;
    }
  }
  &__dark {
    color: black;
    background-color: $yellow;
    padding-top: 0.4rem;
    margin-left: $sideDistanceMobile;
    margin-right: $sideDistanceMobile;
  }
}

.modal {
  display: flex;
  overflow-y: scroll;
  padding: $responsiveHeightMargin 15vw;
  &__centered {
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  &--placeholder {
    background: $gradientVeryPeri;
  }
  &--second {
    background: $gradientForm;
  }
  &__size {
    height: 62vh;
  }
  &__exit {
    position: fixed;
    top: $extremeMargin;
    right: $extremeMargin;
  }
}

.button {
  min-width: $minElement;
  min-height: $minElement;
  &__position {
    position: fixed;
    right: 4em;
    bottom: 7em;
  }
}

@media (min-width: 900px) {
  .image {
    &__logo {
      &--dimensions {
        max-width: 40vw;
        display: flex;
        justify-content: center;
        padding-top: 0.1em;
      }
    }
    &__tiles {
      max-width: 30vw;
      max-height: 59vh;
    }
  }

  .layout {
    &__slider {
      max-width: 93vw;
      margin-left: 2em;
    }
  }

  .labels {
    &__dark {
      margin-left: $sideDistanceDesktop;
      margin-right: $sideDistanceDesktop;
    }
  }
}

@media (min-width: 1200px) {
  .image {
    &__tiles {
      max-height: 32.8vw;
    }
  }

  .layout {
    &__slider {
      max-width: 93.7vw;
    }
  }

  .labels {
    &__dark {
      margin-left: $sideDistanceDesktop;
      margin-right: $sideDistanceDesktop;
      & h1 {
        font-size: 3.4vh;
      }
    }
  }

  .modal {
    padding: $responsiveHeightMargin 10vw;
    &__exit {
      position: fixed;
      top: $extremeMargin;
      right: $extremeMargin;
    }
  }
}
