$black: #111;
$red: #da563c;
$green: #8bd89b;
$yellow: #fae12c;
$darkYellow: #e9d11bde;
$grey: #606569;
$greyRGBWithOpacity: rgb(96, 101, 105, 0.92);
$lightGrey: #71767a;
$greyDark: #505458;
$text: #fff;
$blackText: #000;
$seriale: $green;
$filmy: $yellow;
$minElement: 2rem;
$smallDistance: 5rem;
$tinyResponsiveGap: 1vh;
$smallResponsiveGap: 5vh;
$mediumResponsiveGap: 10vh;
$gradientVeryPeri: linear-gradient(to left, #4161b6, #435593);

html,
body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: $grey;
  color: $text;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  top: 0.25vh;
  &.MuiButton-root {
    min-width: $minElement;
  }
  &__toggle {
    position: absolute;
    right: $tinyResponsiveGap;
    z-index: 2;
  }
  &--yellow {
    position: fixed;
    bottom: 10;
    right: 10;
    z-index: 1;
  }
}

.image {
  &__logo {
    padding-top: $tinyResponsiveGap;
    max-width: 80vw;
  }
  &__tiles {
    max-height: 47vh;
    &--modal {
      max-height: 60vh;
      display: block;
      margin: auto;
      opacity: 2;
    }
  }
}

.labels {
  &--yellow-line {
    color: black;
    background-color: $yellow;
    padding-top: 0.4rem;
    margin: inherit 0;
  }
  &__link {
    text-decoration: underline;
    color: $red;
  }
}

.layout {
  &__grid {
    &--central {
      justify-content: center;
    }
  }
  &__line {
    text-align: center;
    padding-top: 0.5em;
  }
  &__slider {
    max-width: 82vw;
    margin-left: 2em;
    img {
      display: inline;
    }
  }
}

.modal {
  display: flex;
  overflow-y: scroll;
  color: $darkYellow;
  &--placeholder {
    background: $gradientVeryPeri;
    padding: $mediumResponsiveGap 15vw;
  }
  &--background {
    background: $greyRGBWithOpacity;
  }

  &__card {
    justify-content: center;
    margin-top: $smallDistance;
    padding: $mediumResponsiveGap 0.7vh;
    height: fit-content;
  }
  &__content {
    padding-top: $smallResponsiveGap;
    text-align: center;
  }
  &__exit {
    position: absolute;
    padding-top: 2px;
    border-radius: 10px;
    background-color: $red;
    &--card {
      top: 12.5vh;
      right: $smallResponsiveGap;
    }
    &--section {
      top: $smallResponsiveGap;
      right: $smallResponsiveGap;
    }
  }
}

.navbar {
  background-color: $grey;
  position: fixed;
  top: -0.01vh;
  z-index: 1;
  &--inactive {
    color: $blackText;
  }
  &--active {
    color: $yellow;
  }
  &__position {
    padding-top: $mediumResponsiveGap;
  }
}

@media (min-width: 600px) {
  .button {
    right: $minElement;
    &.MuiButton-root {
      min-width: 64px;
      display: inline;
    }
  }

  .modal {
    &__content {
      text-align: right;
    }
    &__exit {
      &--card {
        top: 17vh;
        right: $mediumResponsiveGap;
      }
    }
  }
}

@media (min-width: 900px) {
  .image {
    &__logo {
      max-width: 40vw;
      display: flex;
      justify-content: center;
      padding-top: 0.1em;
    }
    &__tiles {
      max-width: 30vw;
      max-height: 59vh;
    }
  }

  .layout {
    &__slider {
      max-width: 93vw;
    }
  }

  .modal {
    &__card {
      margin: $smallDistance 0;
      height: auto;
    }
  }
}

@media (min-width: 1200px) {
  .button {
    top: 0.5vh;
  }
  .image {
    &__tiles {
      max-height: 32.8vw;
    }
  }

  .layout {
    &__slider {
      max-width: 93.7vw;
    }
  }

  .labels {
    &--yellow-line {
      font-size: 3.4vh;
    }
  }

  .modal {
    &--placeholder {
      padding: $mediumResponsiveGap 10vw;
    }
  }
}
